on init
    import /vendor/etc/init/hw/init.evb_light.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    insmod /vendor/lib/modules/img_mem.ko
    insmod /vendor/lib/modules/vha.ko
    insmod /vendor/lib/modules/pvrsrvkm.ko
    insmod /vendor/lib/modules/roles.ko
    insmod /vendor/lib/modules/dwc3.ko usb_mode=${ro.boot.usb_mode} usb_speed=${ro.boot.usb_speed}
    insmod /vendor/lib/modules/dwc3-thead.ko
    insmod /vendor/lib64/modules/hantrodec.ko
    insmod /vendor/lib64/modules/vc8000.ko
    insmod /vendor/lib64/modules/memalloc.ko
    insmod /vendor/lib/modules/vidmem.ko
    insmod /vendor/lib/modules/thead_video.ko
    insmod /vendor/lib/modules/vi_pre.ko
    insmod /vendor/lib/modules/vvcam_dec400.ko
    insmod /vendor/lib/modules/vvcam_dw200.ko
    insmod /vendor/lib/modules/vvcam_i2c.ko
    insmod /vendor/lib/modules/vvcam_isp.ko
    insmod /vendor/lib/modules/vvcam_isp_ry.ko
    insmod /vendor/lib/modules/vvcam_sensor.ko
    insmod /vendor/lib/modules/vvcam_soc.ko
    insmod /vendor/lib/modules/bm_visys.ko
    insmod /vendor/lib/modules/bm_csi.ko
    insmod /vendor/lib/modules/galcore.ko
    chmod 0666 /dev/mem
    chmod 0666 /dev/vidmem
    setprop vendor.hwc.drm.primary_display_order DSI-1
    setprop vendor.hwc.backend_override client

# We need vold early for metadata encryption
on early-fs
    start vold

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    mount_all /vendor/etc/fstab.${ro.hardware} --early

    # ZRAM setup
    write /sys/block/zram0/comp_algorithm lz4
    write /proc/sys/vm/page-cluster 0

on late-fs
    exec_start wait_for_keymaster
    mount_all /vendor/etc/fstab.${ro.hardware} --late

on property:sys.boot_completed=1
    # Enable ZRAM on boot_complete
    swapon_all /vendor/etc/fstab.enableswap
    write /proc/sys/vm/swappiness 100

on boot
    setprop ro.hwui.layer_cache_size 48

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -z
    class main
    disabled
    oneshot
    keycodes 114 115 116
