on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    insmod /vendor/lib64/modules/roles.ko
    insmod /vendor/lib64/modules/dwc3.ko usb_mode=${ro.boot.usb_mode} usb_speed=${ro.boot.usb_speed}

on fs
    mount_all /vendor/etc/fstab.${ro.hardware}

service console /system/bin/sh
    class core
    console
    disabled
    user root
    group shell log readproc
    seclabel u:r:shell:s0
    setenv HOSTNAME console

on property:ro.debuggable=1
    start console

on init
    setprop sys.usb.configfs 1
    start console
